
<div class="ui pointing menu">
  <a class="item active" href="/">
    Home
  </a>
  <a class="item" href="/team">
    My team
  </a>
  <div class="right menu">
    <div class="item">
      login
    </div>
  </div>
</div>
<br>
<br>
<div class="ui search" >
    <input (change)="searchPokemon(search.value)" #search style="width: 100%" class="prompt" type="text" placeholder="search a pokemon">
</div>
    <br><br>
<div  style="text-align: right; position: relative">
    <div style="position: fixed; z-index: 2;" *ngIf="pokemon" >
        <div class="ui cards"  style="text-align: left; " >
            <div class="card" style="">
              <div class="content">
                <img class="image" width="100%" style="" src="{{pokemon.sprites.front_default}}">
                <div class="header">
                    <div *ngFor="let type of pokemon.types">{{type.type.name}}</div>
                </div>
                <div class="meta"  style="text-align: center;">
                  <br>{{pokemon.name}}
                </div>
                <div class="description"  style="text-align: center;">
                    weight : {{pokemon.weight}}
                </div>
                <div class="description"  style="text-align: center;">
                    height : {{pokemon.height}}
                </div>
              </div>
              <div class="extra content" style="text-align: center;">
                  <div class="ui green button" (click)="addPokemon($event)">Add to my team</div>
              </div>
            </div>
          </div>
      </div>
    <div class="ui list ui segment" style="width: 50%; margin-left: 50%; padding: 20px">
        <div class="item" *ngFor="let pokemon of pokemons">
          <div class="content" style="text-align: left; padding: 0 10px">
            <img class="ui image" style="display: inline-block;" height="20px" src="http://icons.iconarchive.com/icons/draseart/dumper/128/PokeBall-icon.png">
			      <a (click)="PokemonInfo($event, pokemon.url)" href="#">{{pokemon.name}}</a>
          </div>
        </div>
  </div>
</div>
