<div class="ui segment" style="text-align: right; position: relative">
    <div style="position: fixed;  background: chartreuse" *ngIf="pokemon" >
        <div class="ui cards"  style="text-align: left;" >
            <div class="card">
              <div class="content">
                <img class="image" width="100%" style="border-radius: 5px; box-shadow:  inset    0px 0px 3px 0px #aaa;" src="{{pokemon.sprites.front_default}}">
                <div class="header">
                    <div *ngFor="let type of pokemon.types">{{type.type.name}}</div>
                </div>
                <div class="meta"  style="text-align: center;">
                  <br>{{pokemon.name}}
                </div>
                <div class="description"  style="text-align: center;">
                    weight : {{pokemon.weight}}
                </div>
                <div class="description"  style="text-align: center;">
                    height : {{pokemon.height}}
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui basic green button">Approve</div>
                  <div class="ui basic red button">Decline</div>
                </div>
              </div>
            </div>
          </div>
      </div>
    <div class="ui list">
        <div class="item" *ngFor="let pokemon of pokemons">
          <div class="content">
			      <a (click)="PokemonInfo($event, pokemon.url)" href="#">{{pokemon.name}}  <img class="ui image" style="display: inline-block;" height="16px" src="http://icons.iconarchive.com/icons/draseart/dumper/128/PokeBall-icon.png"></a>
          </div>
        </div>
  </div>
</div>
