<div [class]="(isModalOpen)?'':'ui modal'" style="width: 100%; height: 100%; position: fixed; z-index: 10; top :0;left:0;background: rgba(0, 0, 0, .9);">
   <br><br><br>
    <div class="content ui container card">
        <form class="ui form" style="padding: 20px;">
            <div class="field">
              <label>name</label>
              <input type="text" value="{{selectedPokemon.name}}" name="name" #name placeholder="First Name">
            </div>
            <div class="field">
              <label>type</label>
              <input type="text" value="{{selectedPokemon.type}}" name="type" #type  placeholder="Last Name">
            </div>
            <div class="field">
                <label>image</label>
                <input type="text" value="{{selectedPokemon.image}}" name="image" #image  placeholder="Last Name">
              </div>
            <button (click)="editPokemon($event, name.value, type.value, image.value)" class="ui button">Submit</button>
          </form>
    </div>
    <div class="actions">
      <div (click)="closeModal()" class="ui white ok inverted button">
        <i class="remove icon"></i>
        close modal
      </div>
    </div>
  </div>

<div class="ui pointing menu">
  <a class="item " href="/">
    Home
  </a>
  <a class="item active" href="/team">
    My team
  </a>
  <div class="right menu">
    <div class="item">
      login
    </div>
  </div>
</div>
<br>
<br>

<div class="ui search" >
    <input (change)="searchPokemon(search.value)" #search style="width: 100%" class="prompt" type="text" placeholder="search a pokemon">
</div>
<br><br>
<div class="ui three column grid">
  <div class="column" *ngFor="let pokemon of pokemons ">
    <div class="ui fluid card">
      <div class="image">
        <img src="{{pokemon.image}}">
	  </div>
	  <div class="extra content" style="text-align: center;">
        <div class="ui two buttons">
      <div class="ui red button" (click)="deletePokemon(pokemon)">remove</div>
    <div class="ui blue button" (click)="openModal(pokemon)">edit</div>
        </div>
  </div>
      <div class="content">
        <a class="header">{{pokemon.name}}</a>
      </div>
    </div>
  </div>
</div>
